SUPABASE_URL=https://dfcebvjkwnwfsfpuckkj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmY2Vidmprd253ZnNmcHVja2tqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyMjQ1NTEsImV4cCI6MjEwMDgwMDU1MX0.M4jOosf5aoWguuoFDDDwFExIAHJOHhp6U6fRkmOZs-s
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmY2Vidmprd253ZnNmcHVja2tqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTIyNDU1MSwiZXhwIjoyMTAwODAwNTUxfQ.XRXQqbrj7RZ7A_tyVPJ7PEoppfjWewQGbBcITqCMld0
SUPABASE_JWT_SECRET=bP8Lwxdh8aISIvBVZOMJNq3SK+RDuD1hIPqwZjmfKTOHWD3kA7TNydG0xHhZLYhgs47/BCYESDuJ3CUyqs3+iw==

DATABASE_URL=postgresql://postgres:#include<stdio.h>@db.dfcebvjkwnwfsfpuckkj.supabase.co:5432/postgres

BACKEND_CORS_ORIGINS=["http://localhost:3000"]

ENVIRONMENT=development